/* ===============main styles ======== */
body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #ffffff;
    color: #434455;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

h2 {
    text-align: center;
    font-size: 36px;
    line-height: 1.1;
    text-transform: capitalize;
    letter-spacing: 0.02em
    color: #2E2F42; 
}

/* ===============/main styles======== */

/* ===============logotype======== */
.logotype {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-web {
    color: #4D5AE5;
}
/* ===============/logotype======== */

/* ===============Main header======== */

.nav-links {
    font-size: 16px;
    font-weight: 500;
    color: #2E2F42
}


.nav-links>li:hover {
    color: #9747FF;
}

.link-contacts {
    font-weight: 400;
    color: #434455;
}

.studio:active {
    color: #9747FF;
    text-decoration: underline;
}

.link-contacts>li:hover {
    color: #9747FF;
}

/* ===============/Main header======== */

/* ===============Hero section======== */
.page-hero {
    background-color: #2E2F42;
}

.main-title {
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    color: #ffffff;
}

.order-button {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
}

.order-button:hover,
.order-button:focus {
    background-color: #404BBF;
}
/* ===============/Hero section======== */


/* ============BENEFITS =========== */

.benefits-punkts {
    font-size: 20px;
    font-weight: 500;
    line-height:1.2;
    color: #2E2F42;
}


/* ===============/BENEFITS======== */

/* ============OUR TEAM =========== */



/* ============/OUR TEAM =========== */

/* =============FOOTER========== */

.main-foot {
    background-color: #2E2F42;
}

.logo-studio {
    color:#f4f4fd;
}

.copiright {
    color: #f4f4fd
}
.logotype-footer {
    
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
/* ============/FOOTER=========== */